# Exclude build directories
ext/nitro/build/
ext/unarm/target/

# Exclude all files from root directory
/*
/*/

# Include only these file from root directory
!ncpp.rb
!/ext/
!/exe/
!/bin/
!/lib/*.rb
!Gemfile
!Gemfile.lock
!*.gemspec
!README.md
!LICENSE.txt
!.gitignore
