.DS_Store

# Exclude build directories
ext/nitro/build/
ext/unarm/target/

# Exclude all files from root directory
/*
/*/

# Include only these file from root directory
!/ext/
!/exe/
!/bin/
!/example/
!/lib/
/lib/*/*
!/lib/*/*.rb
!/.github/
!Gemfile
!Gemfile.lock
!*.gemspec
!README.md
!LICENSE.txt
!.gitignore
