# Exclude build directories
ext/nitro/build/
ext/unarm/target/

# Exclude all files from root directory
/*
/*/

# Include only these file from root directory
!ncpp.rb
!/ext/
!Gemfile
!Gemfile.lock
!README.md
!.gitignore
